body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aqua;
  font-family: Arial, Helvetica, sans-serif;

  h1 {
    font-size: 70px;
    line-height: 30px;
    color: #040440;
    text-align: center;
  }

  p {
    font-size: 20px;
    line-height: 30px;
    color: #040440;
    text-align: center;
    width: 700px;
    margin: auto;
  }
}
